Insert
<br>
<label>
  Center Type
  <input type="text" [(ngModel)]="centerType.type" [value]="centerType.type">
</label>
<br>
<label>
  Temporary
  <input type="checkbox" [(ngModel)]="centerType.temporary" [value]="centerType.temporary">
</label>
<br>
<button (click)="insertCenterType()">Añadir</button>
<br>
<ul>
  <li (click)="centerType = centerTypes[i]" *ngFor="let center of centerTypes; let i = index">
    {{ center.type }}
    <button *ngIf="centerType ===  centerTypes[i]" (click)="updateCenterType(i)">Editar</button>
    <button (click)="deleteCenterType(i)">Eliminar</button>
  </li>
</ul>


<router-outlet></router-outlet>
